.godot/
.idea/
.vs/
.tools/
.cache/
**/bin/
**/obj/
*.user
*.tmp
*.blend1
artifacts/master-human-poc/
poc/master-human/vendor/
poc/master-human/work/
artifacts/master-human-poc2a/
poc/master-human-poc2a/**/__pycache__/
